<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/software">Software</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:kevinalexmathews@gmail.com">email</a></li>
   <li><a href="/files/cv.pdf">curriculum vitae</a></li>
   <li><a href="https://github.com/kevinalexmathews">github</a></li>
   <li><a href="http://dblp.uni-trier.de/pers/hd/m/Mathews:Kevin_Alex">dblp</a></li>
   <li><a href="https://scholar.google.co.in/citations?user=5tFAAUwAAAAJ&hl=en">scholar</a></li>
<!--   <li><a href="https://www.linkedin.com/in/kevinalexmathews/">linkedin</a></li> -->
   </ul>
  </footer>
  </body>

</html>
